<div class="favorite">
  <div class="container">
    <div class="favorite-title">
      Избранное
    </div>

    <div class="favorite-empty" *ngIf="!productsFavorite || (productsFavorite && productsFavorite.length === 0)">
      <div>В избранном нет товаров</div>
      <button class="button" routerLink="/catalog">В каталог</button>
    </div>

    <div class="favorite-products" *ngIf="productsFavorite && productsFavorite.length > 0">
      <favorite-product class="favorite-product" [countInCart]="productFavorite.countInCart" *ngFor="let productFavorite of productsFavorite" [productFavorite]="productFavorite"></favorite-product>
    </div>
  </div>
</div>
